@import "_reset";

#homepage {
  background-color: #f9f8fb;
}

.homepage_mainer {
  background-image: url(../images/bg-strawberry.png);
  max-width: 1500px;
  margin: 0 auto;
}

.homepage_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 1000px;
}

.homepage_flex-container {
  display: flex;
  flex-direction: row;
  padding: 25px 15px 0;

  .homepage_title {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #262626;
    width: 570px;
    margin: 0 0 45px 0;
  }

  .homepage_menu {
    max-width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 65px 0;

    .homepage_link {
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      color: #262626;
      margin: 15px;
      padding: 8px 0 20px;
      box-sizing: border-box;
      &:hover {
        border-top: 3px solid #ff6033;
        box-sizing: border-box;
        padding: 5px 0 20px;
      }
    }
  }
}

.homepage_text {
  margin: 200px 0 0 15px;
  .homepage_subject {
    font-weight: 900;
    font-size: 60px;
    color: #262626;
  }

  .homepage_description {
    font-weight: 300;
    font-size: 17px;
    color: #262626;
    max-width: 370px;
    margin: 20px 0 0 0;
  }
}

.homepage_button {
  max-width: 200px;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  background-color: #ff6033;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  margin: 35px 0 400px 15px;
  box-shadow: 0 2px 4px #9a9a9c;
  &:active {
    background-color: #fff;
    color: #ff6033;
  }
}

#about {
  background-color: #00aead;
  padding: 75px 0;
}

.about_mainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  .about_image {
    margin: 0 15px;
  }

  .about_text {
    margin: 100px 0 150px;
    .about_title {
      font-weight: bold;
      font-size: 90px;
      color: #fff;
      margin: 0 85px 0 70px;
      box-sizing: border-box;
    }
    .about_description {
      font-weight: 300;
      font-size: 17px;
      line-height: 27px;
      color: #fff;
      margin: 0 15px 0 70px;
      box-sizing: border-box;
    }
  }
}

#services {
  background-color: #70bfff;
}

.services_mainer {
  background-image: url(../images/bg-services.png);
  background-size: cover;
  max-width: 1500px;
  margin: 0 auto;
}

.services_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 179px 0 151px;

  .services_features {
    margin: 0 85px 0 115px;

    .services_item {
      display: flex;
      max-width: 400px;
      max-height: 100px;
      flex-direction: row;
      margin: 0 0 20px 0;
      box-shadow: 0 2px 4px #000;
      &:hover {
        cursor: pointer;
      }

      &:hover .services_icon svg {
        fill: #fff;
        background-color: #70bfff;
      }

      &:hover .services_caption {
        color: #fff;
        background-color: #70bfff;
      }

      .services_caption {
        font-weight: bold;
        font-size: 20px;
        color: #262626;
        background-color: #fff;
        text-align: center;
        width: 300px;
        padding: 38px 0;
        border-right: 1px solid #9d9d9d;
        box-sizing: border-box;
      }

      .services_icon {
        background-color: #fff;
        width: 100px;
        height: 100px;
        svg {
          padding: 23px;
          width: 54px;
          height: 54px;
        }
      }
    }
  }

  .services_title {
    font-weight: bold;
    font-size: 90px;
    color: #fff;
    text-align: center;
    margin: 140px 15px 240px 15px;
  }
}

#gallery {
  background-color: #ffe92f;
}

.gallery_mainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.gallery_title {
  font-weight: bold;
  color: #262626;
  font-size: 90px;
  text-align: center;
}

.gallery_description {
  font-weight: 300;
  color: #262626;
  font-size: 17px;
  text-align: center;
  max-width: 600px;
  margin: 25px auto 0;
}

.gallery_grid-container {
  display: grid;
  grid-template-areas: "one one one one two two" "one one one one three three" "four four four five five five";
  grid-gap: 15px;
  padding: 15px;
  margin: 40px 0 0 0;

  .gallery_image1 {
    grid-area: one;
    width: 100%;
  }

  .gallery_image2 {
    grid-area: two;
    width: 100%;
  }

  .gallery_image3 {
    grid-area: three;
    width: 100%;
  }

  .gallery_image4 {
    grid-area: four;
    width: 100%;
  }

  .gallery_image5 {
    grid-area: five;
    width: 100%;
  }
}

.gallery_button {
  margin: 50px auto 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #5585a2;
  max-width: 200px;
  max-height: 55px;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #fff;
    color: #5585a2;
  }
}

#subscribe {
  background-color: #fff;
}

.subscribe_mainer {
  background-image: url(../images/bg-subscribe.png);
  max-width: 1500px;
  margin: 0 auto;
}

.subscribe_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
  padding: 135px 0 163px;
  box-sizing: border-box;
}

.subscribe_title {
  font-weight: bold;
  font-size: 40px;
  color: #262626;
  margin: 0 15px;
}

.subscribe_description {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  margin: 15px 15px 0 15px;
  max-width: 570px;
}

.subscribe_form {
  display: flex;
  margin: 30px 0 0 0;

  input[type="email"] {
    margin: 0 15px;
    width: 570px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #262626;
    padding: 15px;
    border: 1px solid #262626;
  }

  input[type="submit"] {
    margin: 0 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    background-color: #96b92c;
    border-style: none;
    padding: 20px 30px;
    box-shadow: 0 2px 4px #9e9e9e;
    cursor: pointer;
  }
}

#blog {
  background-color: #b07cf7;
}

.blog_mainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.blog_name {
  font-weight: bold;
  font-size: 90px;
  color: #fff;
  text-align: center;
}

.blog_description {
  max-width: 570px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.blog_flex-container {
  display: flex;
  margin: 45px 0 0 0;

  .blog_article {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 370px;
    max-height: 310px;
    margin: 25px 15px;

    .blog_date {
      width: 60px;
      height: 60px;
      background-color: rgba(38, 38, 38, 0.5);
      border-radius: 4px;
      position: absolute;
      top: 30px;
      left: 30px;

      .blog_number {
        font-weight: bold;
        font-size: 32px;
        line-height: 25px;
        color: #fff;
        text-align: center;
        margin: 3px 0 0 0;
      }
      .blog_month {
        font-weight: 900;
        font-size: 21px;
        color: #fff;
        text-align: center;
        margin: 5px 0 0 0;
      }
    }

    .blog_title {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      position: absolute;
      left: 20px;
      bottom: 60px;
    }
    .blog_author {
      font-weight: 300;
      font-size: 13px;
      color: #fff;
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }
}

.blog_button {
  margin: 50px auto 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #f72b3b;
  max-width: 200px;
  max-height: 55px;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #fff;
    color: #f72b3b;
  }
}

#form {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.form_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.form_subject {
  font-weight: bold;
  font-size: 90px;
  color: #262626;
  text-align: center;
  padding: 40px 0 0 0;
}

.form_description {
  font-weight: 300;
  font-size: 17px;
  color: #262626;
  text-align: center;
  line-height: 25px;
  margin: 25px 0 0 0;
}

.form_container {
  display: flex;
  margin: 45px 15px 0;
}

.form_form {
  margin: 0 85px 0 0;

  input[type="text"],
  textarea,
  input[type="submit"] {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background-color: #00c4c4;
    opacity: 0.5;
    display: block;
    width: 500px;
    border-style: none;
    padding: 20px 0 20px 20px;
    margin: 0 0 15px 0;

    &::placeholder {
      font-weight: 300;
      color: #fff;
    }

    &:focus,
    &:active,
    &:hover {
      border-left: 5px solid #355b82;
      opacity: 1;
    }
  }
  input[type="submit"] {
    width: 250px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
    margin: 0 0 47px 0;
  }
}

.form_info {
  width: 500px;
  margin: 0 0 0 85px;

  .form_info-name {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #262626;
  }
  .form_contact-info {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #262626;
  }
}

#footer {
  background-color: #262626;
}

.footer_mainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer_copyright {
    font-weight: 300;
    font-size: 16px;
    color: #b9b9b9;
    margin: 0px 15px;
  }

  .footer_name {
    font-family: "Pacifico", cursive;
    font-size: 25px;
    color: #b9b9b9;
    margin: 0px 15px;
  }

  .footer_author {
    font-weight: 300;
    font-size: 15px;
    color: #b9b9b9;
    margin: 0px 15px;
  }
}

@media screen and (max-width: 1199px) {
  .footer_copyright,
  .footer_author {
    text-align: center;
  }
}

@media screen and (max-width: 1185px) {
  .blog_flex-container {
    margin: 0 auto;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1015px) {
  .about_mainer {
    .about_text {
      .about_title {
        font-size: 50px;
      }
    }
  }
  .services_wrapper {
    .services_title {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 890px) {
  .about_mainer {
    flex-direction: column-reverse;
    align-items: center;
    .about_text {
      margin: 100px 0 15px;
    }
    .about_image img {
      width: 75%;
    }
  }

  .services_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    .services_title {
      margin: 15px;
      text-align: left;
    }
    .services_features {
      margin: 0 15px;
    }
  }

  .form_form {
    margin: 0 15px 0 0;
  }

  .form_info {
    margin: 0 0 15px 15px;
  }

  .form_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .homepage_flex-container {
    flex-direction: column;
    .homepage_title {
      text-align: left;
    }
  }
}

@media screen and (max-width: 576px) {
  .homepage_text {
    margin: 20px 0 0 15px;
  }
  .homepage_flex-container {
    .homepage_menu {
      max-width: 285;
      flex-wrap: wrap;
    }
  }

  .homepage_button {
    margin: 35px 0 20px 15px;
  }

  .about_mainer {
    .about_text {
      .about_title {
        margin: 0 15px;
      }
    }
  }
  .about_mainer {
    .about_text {
      .about_description {
        margin: 0 15px;
      }
    }
  }

  .gallery_grid-container {
    display: grid;
    grid-template-areas: "one " "two " "three " "four" "five";
    grid-gap: 15px;
    padding: 15px;
    margin: 40px 0 0 0;
    .gallery_image1 {
      grid-area: one;
      width: 100%;
    }
    .gallery_image2 {
      grid-area: two;
      width: 100%;
    }
    .gallery_image3 {
      grid-area: three;
      width: 100%;
    }
    .gallery_image4 {
      grid-area: four;
      width: 100%;
    }
    .gallery_image5 {
      grid-area: five;
      width: 100%;
    }
  }

  .gallery_title {
    font-size: 60px;
  }

  .form_form {
    input[type="text"],
    textarea,
    input[type="submit"] {
      max-width: 300px;
    }
  }

  .form_info {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .services_wrapper {
    .services_features {
      .services_item {
        .services_caption {
          width: 200px;
          font-size: 17px;
        }
      }
    }
  }
  .subscribe_form {
    input[type="email"] {
      max-width: 130px;
    }
    input[type="submit"] {
      margin: 0 5px;
      max-width: 130px;
      font-size: 15px;
    }
  }

  .blog_name {
    font-size: 60px;
  }
  .form_subject {
    font-size: 60px;
  }
}
