@import "_reset";

.mainer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

#homepage {
  background-color: #f9f8fb;
  background-image: url(../images/bg-strawberry.png);
  background-position: center;
  background-size: cover;
  padding: 50px 0 400px;
}

.homepage_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .homepage_logo {
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #262626;
  }

  .homepage_menu {
    @media screen and (max-width: 768px) {
      display: none;
      background-color: rgba(255, 255, 255, 0.95);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      // display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
    }

    .homepage_link {
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      color: #262626;
      margin: 15px;
      padding: 8px 0 0;
      box-sizing: border-box;
      &:hover {
        border-top: 3px solid #ff6033;
        box-sizing: border-box;
      }
      @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        border: none !important;
        max-width: 200px;
        margin: 0 auto;
        padding: 10px 0;
      }
    }
  }

  .homepage_menu-toggler {
    width: 42px;
    height: 42px;
    display: none;
    position: relative;
    z-index: 11;
    @media screen and (max-width: 768px) {
      display: block;
    }

    .homepage_menu-toggler-line {
      width: 100%;
      height: 7px;
      background-color: #262626;
      display: block;
      border-radius: 5px;
      position: absolute;
      left: 0;
      transition-duration: 0.3s;
      transform-origin: center;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-3px);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
    &--open {
      .homepage_menu-toggler-line:nth-child(1) {
        transform: rotate(45deg) translateY(24px);
      }

      .homepage_menu-toggler-line:nth-child(2) {
        display: none;
      }

      .homepage_menu-toggler-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-24px);
      }
    }
  }
}

.homepage_text {
  margin: 230px 0 0 0;
  .homepage_subject {
    font-weight: 900;
    font-size: 60px;
    color: #262626;
  }

  .homepage_description {
    font-weight: 300;
    font-size: 17px;
    color: #262626;
    max-width: 370px;
    margin: 20px 0 0 0;
  }
}

.homepage_button {
  max-width: 200px;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  background-color: #ff6033;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  margin: 30px 0 0 0;
  box-shadow: 0 2px 4px #9a9a9c;
  &:active {
    background-color: #fff;
    color: #ff6033;
  }
}

#about {
  background-color: #00aead;
  padding: 69px 0;
}

.about_wrapper {
  display: flex;
}
.about_image {
  margin: 0 15px;
  flex-grow: 1;
}
.about_text {
  margin: 100px 15px 150px 85px;
  flex-grow: 1;

  .about_title {
    font-weight: bold;
    font-size: 90px;
    color: #fff;
    box-sizing: border-box;
  }
  .about_description {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    box-sizing: border-box;
  }
}

#services {
  background-color: #70bfff;
  background-image: url(../images/bg-services.png);
  background-size: cover;
  background-position: center;
  padding: 179px 0 151px;
}

.services_wrapper {
  display: flex;

  .services_features {
    margin: 0 85px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .services_item {
      display: flex;
      max-width: 400px;
      max-height: 100px;
      flex-direction: row;
      box-shadow: 0 2px 4px #000;
      &:hover {
        cursor: pointer;
      }

      &:hover .services_icon svg {
        fill: #fff;
        background-color: #70bfff;
      }

      &:hover .services_caption {
        color: #fff;
        background-color: #70bfff;
      }

      .services_caption {
        font-weight: bold;
        font-size: 20px;
        color: #262626;
        background-color: #fff;
        text-align: center;
        width: 300px;
        padding: 38px 0;
        border-right: 1px solid #9d9d9d;
        box-sizing: border-box;
      }

      .services_caption1 {
        @extend .services_caption;
        padding: 20px 0;
      }

      .services_icon {
        background-color: #fff;
        width: 100px;
        height: 100px;
        svg {
          padding: 23px;
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }

  .services_title {
    font-weight: bold;
    font-size: 90px;
    color: #fff;
    text-align: center;
    margin: 130px 0 224px 0;
  }
}

#gallery {
  background-color: #ffe92f;
  padding: 100px 0;
}

.gallery_title {
  font-weight: bold;
  color: #262626;
  font-size: 90px;
  text-align: center;
}

.gallery_description {
  font-weight: 300;
  color: #262626;
  font-size: 17px;
  text-align: center;
  max-width: 600px;
  margin: 25px auto 0;
}

.row {
  margin: 40px 0 0 0;  
}

.gallery_image {
  width: 100%;
  margin: 0 0 15px 0;
}

.gallery_button {
  margin: 50px auto 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #5585a2;
  max-width: 200px;
  max-height: 55px;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #fff;
    color: #5585a2;
  }
}

#subscribe {
  background-color: #fff;
  background-image: url(../images/bg-subscribe.png);
  background-size: cover;
  background-position: center;
  padding: 135px 0 163px;
}

.subscribe_title {
  font-weight: bold;
  font-size: 40px;
  color: #262626;
}

.subscribe_description {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  margin: 15px 0 0;
  max-width: 570px;
}

.subscribe_form {
  display: flex;
  max-width: 770px;
  margin: 30px 0 0 0;
  justify-content: space-between;

  input[type="email"] {
    flex-grow: 377;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #262626;
    padding: 15px;
    margin: 0 15px 0 0;
    border: 1px solid #262626;
  }

  input[type="submit"] {
    flex-grow: 23;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    background-color: #96b92c;
    border-style: none;
    padding: 20px 30px;
    margin: 0 0 0 15px;

    box-shadow: 0 2px 4px #9e9e9e;
    cursor: pointer;
  }
}

#blog {
  background-color: #b07cf7;
  padding: 100px 0;
}

.blog_name {
  font-weight: bold;
  font-size: 90px;
  color: #fff;
  text-align: center;
}

.blog_description {
  max-width: 570px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.blog_flex-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;

  .blog_article {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 370px;
    max-height: 310px;
    margin: 15px 0;

    img {
      width: 100%;
      display: block;
    }

    .blog_date {
      width: 60px;
      height: 60px;
      background-color: rgba(38, 38, 38, 0.5);
      border-radius: 4px;
      position: absolute;
      top: 30px;
      left: 30px;

      .blog_number {
        font-weight: bold;
        font-size: 32px;
        color: #fff;
        text-align: center;
      }
      .blog_month {
        font-weight: 900;
        font-size: 21px;
        color: #fff;
        text-align: center;
      }
    }

    .blog_title {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      position: absolute;
      left: 20px;
      bottom: 60px;
    }
    .blog_author {
      font-weight: 300;
      font-size: 13px;
      color: #fff;
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }
}

.blog_button {
  margin: 50px auto 0;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #f72b3b;
  max-width: 200px;
  max-height: 55px;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #fff;
    color: #f72b3b;
  }
}

#form {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 85px;
}

.form_subject {
  font-weight: bold;
  font-size: 90px;
  color: #262626;
  text-align: center;
}

.form_description {
  font-weight: 300;
  font-size: 17px;
  color: #262626;
  text-align: center;
  line-height: 25px;
  margin: 25px 0 0 0;
}

.form_container {
  display: flex;
  margin: 45px 0 0;
}

.form_form {
  flex-grow: 1;
  max-width: 500px;
  margin: 0 85px 0 0;
  input[type="text"],
  textarea,
  input[type="submit"] {
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background-color: #00c4c4;
    opacity: 0.5;
    display: block;
    border-style: none;
    padding: 20px 0 20px 20px;
    margin: 0 0 15px 0;
    width: 100%;
    resize: none;
    box-sizing: border-box;

    &::placeholder {
      font-weight: 300;
      color: #fff;
    }

    &:focus,
    &:active,
    &:hover {
      border-left: 5px solid #355b82;
      opacity: 1;
      padding: 20px 0 20px 15px;
    }
  }
  input[type="submit"] {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
  }
}

.form_info {
  flex-grow: 1;
  max-width: 500px;
  margin: 0 0 0 85px;
  .form_info-name {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #262626;
    text-align: left;
    margin: 0 auto;
  }
  .form_contact-info {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #262626;
    text-align: left;
    margin: 0 auto;
  }
}

#footer {
  background-color: #262626;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer_copyright {
    font-weight: 300;
    font-size: 16px;
    color: #b9b9b9;
  }

  .footer_name {
    font-family: "Pacifico", cursive;
    font-size: 25px;
    color: #b9b9b9;
  }

  .footer_author {
    font-weight: 300;
    font-size: 15px;
    color: #b9b9b9;
  }
}

@media screen and (max-width: 1024px) {
  #homepage {
    padding: 50px 0 200px;
  }

  .about_wrapper .about_text {
    margin: 40px 15px 100px 15px;
  }

  .services_wrapper .services_features {
    margin: 0 10px 0 20px;
  }

  .blog_flex-container {
    flex-direction: column;
    justify-content: center;
    .blog_article {
      margin: 15px auto;
    }
  }
  .form_info {
    margin: 0 0 0 60px;
  }

  .form_form {
    margin: 0 60px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .about_wrapper {
    flex-direction: column-reverse;
    .about_image img {
      width: 75%;
    }
  }
  .about_text {
    margin: 20px 15px 40px 15px;
    .about_title {
      font-size: 60px;
    }
  }

  #services {
    padding: 90px 0 75px;
  }
  .services_wrapper {
    flex-direction: column-reverse;
    .services_title {
      font-size: 60px;
      margin: 32.5px 0 56px 0;
    }
    .services_features {
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 768px) {
  #about {
    padding: 30px 0;
  }

  #gallery,
  #blog {
    padding: 75px 0;
  }
  .gallery_title,
  .blog_name,
  .form_subject {
    font-size: 60px;
  }


  #form {
    padding: 20px 0 30px;
  }

  .form_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .form_info {
    margin: 0;
    .form_info-name {
      text-align: center;
    }
    .form_contact-info {
      text-align: center;
    }
  }
  .form_form {
    margin: 0;
  }

  .footer-wrapper {
    .footer_copyright {
      text-align: center;
      margin: 0 5px;
    }
    .footer_author {
      text-align: center;
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 425px) {
  #homepage {
    padding: 50px 0 50px;
  }
  .homepage_text {
    margin: 100px 0 0 0;
    .homepage_subject {
      font-size: 40px;
    }
  }

  .about_text {
    margin: 10px 15px 20px 15px;
    .about_title {
      font-size: 40px;
    }
  }

  #services {
    padding: 30px 0 35px;
  }
  .services_wrapper {
    .services_title {
      font-size: 40px;
    }
    .services_features .services_item {
      .services_caption {
        width: 166px;
        padding: 38px 0;
        font-size: 16px;
      }
      .services_caption1 {
        width: 166px;
        padding: 15px 0;
        font-size: 16px;
      }
    }
  }

  #gallery,
  #blog {
    padding: 50px 0;
  }
  .gallery_title,
  .blog_name,
  .form_subject {
    font-size: 40px;
  }

  #subscribe {
    background-image: none;
    padding: 45px 0 54px;
  }
  .subscribe_form {
    flex-direction: column;
    & input[type="email"],
    input[type="submit"] {
      margin: 0;
    }
  }

  .footer_wrapper {
    .footer_copyright {
      font-size: 14px;
    }
    .footer_author {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 375px) {
  .blog_flex-container {
    justify-content: flex-start;
    .blog_article {
      width: 75%;
      height: 75%;
      .blog_date {
        width: 35px;
        height: 35px;
        .blog_number {
          font-size: 16px;
        }
        .blog_month {
          font-size: 10px;
        }
      }
      .blog_title {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .subscribe_title {
    font-size: 30px;
    text-align: center;
  }

  .subscribe_description {
    text-align: center;
  }

  .footer_wrapper {
    .footer_copyright {
      font-size: 11px;
    }
    .footer_author {
      font-size: 10px;
    }
  }
}
